:root {
  --primary-color: #6003C3;
  --white: #FFFFFF;
  --box-color-1: #FCFF00;
  --box-color-2: #57FFC9;
  --box-color-3: #A5FF01;
}

html, body {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Bebas Neue', Impact, sans-serif;
}

header {
  padding: 50px 0;
  background-color: #6003C3;
}

h1 {
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  text-align: center;
  font-size: 4rem;
}

main p {
  color: #6003C3;
  font-size: 1.8rem;
  text-align: center;
  padding: 0 10px;
}

.boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  padding: 15px 60px;
  margin: 20px 0;
  border: #6003C3 solid 20px;
  border-radius: 10px;
  color: #6003C3;
  font-size: 5rem;
  filter: drop-shadow(16px 16px 20px rgb(0,0,0, 0.5));
}

#box-1 {
  background-color: #FCFF00;
}

#box-2 {
  background-color: #57FFC9;
}

#box-3 {
  background-color: #A5FF01;
}

/************************************* START 768PX MEDIA QUERY *************************************/
@media (min-width: 768px) {
  .boxes {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
/************************************* END 768PX MEDIA QUERY *************************************/
/************************************* START 1024PX MEDIA QUERY *************************************/
@media (min-width: 1024px) {
  h1 {
    font-size: 4.4rem;
  }
  .box {
    padding: 35px 70px;
    border: #6003C3 solid 12px;
  }
}
/************************************* END 1024PX MEDIA QUERY *************************************/